
@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/ChakraPetch-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    
}

@font-face {
    font-family: 'Response';
    src: url('../fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    
}

header {
    /* #make the header sticky to prevent scroll with body */
    position: sticky;
    top: 0;
    
    
}

#main-title {
    font-family: 'CustomFont';

}

header h1 {
    font-family: 'CustomFont', sans-serif; /* Use the custom font */
    font-size: 4.75rem; /* Adjust font size for the logo */
    font-weight: bold; /* Optional: Bold style */
    color: #ffffff; /* Pure white text */
    letter-spacing: 0.1em; /* Slight letter spacing for elegance */
}

.header-title {
    font-family: 'ChakraPetch-Medium';
}

::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}


/* General Body Styling */
body {
    -ms-overflow-style: none;
    scrollbar-width: none; 
    font-family: 'Inter', sans-serif;
    background-color: #000000;
    color: white;
}

/* Headings */
h2, h3 {
    color: #ffffff;
    text-transform: uppercase;
}

/* Links */
a {
    color: #d1d5db;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #ffffff;
}

/* Search Bar Styling */
form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
form div {
    background-color: #1f2937;
    border: 1px solid #374151;
}
form div:hover {
    border-color: #6b7280;
}

/* Buttons */
button {
    transition: all 0.3s ease;
}
button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

/* Cards */
div {
    border-radius: 10px;
    transition: all 0.3s ease;
}

/* Grid Adjustments */
.grid {
    display: grid;
    grid-gap: 1rem;
}



#search-form {
    position: relative;
    width: 100%;
    max-width: 50%;
}

#query-input {
    width: 100%;
    padding: 12px 48px 12px 16px; /* Adjust padding to make room for the button */
    border: 2px solid #333; /* Adjust border as needed */
    border-radius: 30px;
    font-size: 16px;
    background-color: #000; /* Pitch black background */
    color: #fff;
    outline: none;
}

#query-input:focus {
    border-color: #ffffffaf; /* Blue border on focus */
}

#search-form button {
    position: absolute;
    top: 43%;
    right: 52px; /* Adjust spacing from the right */
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: #ffffff; /* Blue icon */
    font-size: 10px;
    padding: 0;
    outline: none;
}

#search-form button:hover {
    color: #60a5fa; /* Lighter blue on hover */
}

#response {
    /* font-family: 'Response', sans-serif; */
    font-size: 1.2rem; 
    font-family: 'Response';
    line-height: 27px;
    word-spacing: 1.5px;
    

}
