<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title if title else "AI Search Assistant" }}</title>

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Google Fonts -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet"> -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
</head>
<body class="bg-black text-white font-roboto min-h-screen flex flex-col" style="max-height: 100vh;">
    <!-- Header -->
    <header class="bg-black border-b border-gray-800 shadow-md">
        <div class="max-w-8xl mx-auto px-6 py-4 flex justify-between items-center">
            <!-- Logo -->
            <h1 class="text-3xl font-bold text-white tracking-wide">
                <a href="/" class="text-white hover:text-gray-300 transition">
                    InfoLytix
                </a>
            </h1>

            <!-- Navigation Links -->
            <nav class="flex space-x-6 text-base">
                <a href=" {{url_for('home')}}" class="text-gray-400 hover:text-white transition">Home</a>
                <a href="/about" class="text-gray-400 hover:text-white transition">About</a>
                <a href="/feedback" class="text-gray-400 hover:text-white transition">Feedback</a>
            </nav>
        </div>
    </header>

    <!-- Main Content -->
    <main class="flex-1">
        <div class="max-w-6xl mx-auto px-6 py-10">
            {% block content %}
            <!-- Dynamic content goes here -->
            {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer class="bg-black border-t border-gray-900 py-4 text-center">
        <p class="text-gray-400 text-sm">© 2025 AI Search. Designed by <a href='https://github.com/zafar-TechWizard'>zafar</a></p>
    </footer>
</body>
</html>
