{% extends 'base.html' %}

{% block content %}
<section id="search-section" class="flex flex-col items-center justify-center max-h-screen transition-all duration-500 px-4">
    <h2 id="main-title" class="text-5xl font-bold mb-6 text-center">
        Search Smarter, Not Harder
    </h2>
    <p id="sub-title" class="text-gray-400 text-lg mb-10 text-center">
        Ask anything and get answers instantly.
    </p>

    <form id="search-form" action="#" method="post" class="relative flex items-center px-4">
        <div id="poda">
            <div class="glow"></div>
            <div class="darkBorderBg"></div>
            <div class="darkBorderBg"></div>
            <div class="darkBorderBg"></div>
            <div class="white"></div>
            <div class="border"></div>

            <div id="main">
                <input id= 'query-input' autocomplete="off" placeholder="Ask me anything..." type="text" name="query" class="input" required/>
                <div id="input-mask"></div>
                <div id="pink-mask"></div>
                <div class="filterBorder"></div>
                <div id="search-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" height="24" fill="none" class="feather feather-search">
                        <circle stroke="url(#search)" r="8" cy="11" cx="11"></circle>
                        <line stroke="url(#searchl)" y2="16.65" y1="22" x2="16.65" x1="22"></line>
                        <defs>
                            <linearGradient gradientTransform="rotate(50)" id="search">
                                <stop stop-color="#f8e7f8" offset="0%"></stop>
                                <stop stop-color="#b6a9b7" offset="50%"></stop>
                            </linearGradient>
                            <linearGradient id="searchl">
                                <stop stop-color="#b6a9b7" offset="0%"></stop>
                                <stop stop-color="#837484" offset="50%"></stop>
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
            </div>
        </div>
    </form>
</section>

<section id="results-section" class="hidden py-12">
    <div class="max-w-4xl mx-auto px-6">
        <div id="response" class="text-white text-lg font-medium mb-6">
            <div id="sources" class="space-y-4"></div>
        </div>
    </div>
</section>

<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}
